h1{
    font-family: 'Benne', serif;
    color: rgb(155, 155, 155);
    font-size: 150px;
    margin-bottom: 0;
    margin-top: 0;
}

.text{
    margin: 0%;
    position: relative;
    text-align: center;
    background-color: rgb(41, 41, 41);
    width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
  }  

.img{
    width: 100%;
}
.middle{
    position: relative;
    text-align: center;
    height: 290px;
}
.centertext{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-family: 'Benne', serif;
    color: rgb(155, 155, 155);
    font-size: 70px;
}
.foot{
    background-color:rgb(41, 41, 41);
    position: relative;
    bottom: 0%;
    font-size: 30px;
    color: rgb(155, 155, 155);
    text-align: center;
}